@import './fonts.css';
@import './keyframes.css';
@import './palette.css';
@import './tooltip.css';
@import './datatable.css';
@import './base.css';

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

h4 {
  font-size: var(--fs-300);
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all var(--t-duration) ease;

  &:hover{
    text-decoration: underline;
    color: var(--text);
  }
}
