/* DARK */
:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 5%);
  --bg-light: hsl(0, 0%, 10%);
  --bg-nav: hsla(0, 0%, 0%, 50%);

  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
  --text-nav-active: hsl(0, 0%, 95%);

  --primary-rgb: 253, 73, 168;
  --primary-color: rgb(var(--primary-rgb));

  --secondary-rgb: 78, 188, 239;
  --secondary-color: rgb(var(--secondary-rgb));

  --error-color-rgb: 255,0,0;

  --shadow-combined: 0 4px 4px #00000030, 0 12px 12px #00000015;
  --shadow-dark: 0 4px 4px #00000030;
  --shadow-light: 0 12px 12px #00000015;

  --border: hsl(0, 0%, 15%);
  --border-card: solid 1px var(--border);

  --highlight: hsl(0, 0%, 60%);
  --modal-bg: hsla(0, 0%, 10%, 10%);

  /* INPUT COLORS */
  --input-bg-color: var(--bg);
  --input-border-color: var(--border);
  --input-placeholder-text-color: var(--text-muted);
  --input-placeholder-text-opacity: .5;
  --input-hover-border-color: rgba(255,255,255,.5);
  --input-focus-border-color: rgb(var(--secondary-rgb));
  --input-disabled-bg-color: rgba(20,20,20,.55);
  --input-error-border-color: rgb(var(--error-color-rgb));

  --input-toggle-inactive-bg-color: var(--bg);
  --input-toggle-knob-active-color: var(--text);
  --input-toggle-active-bg-color: rgb(var(--secondary-rgb));
}
