@import './fonts.css';
@import './keyframes.css';
@import './palette.css';
@import './tooltip.css';
@import './datatable.css';
@import './base.css';

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin-bottom: var(--size-8);
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

h4 {
  font-size: var(--fs-300);
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all var(--t-duration) ease;

  &:hover{
    text-decoration: underline;
    color: var(--text);
  }
}

.modal_highlight{
  display: inline-block;
  color: var(--primary-color);
}

input{
  border: 1px solid var(--border);
  outline: none;
  padding: var(--size-8);
  border-radius: var(--size-4);
  background-color: var(--bg);
  color: var(--text);

  transition: all var(--t-duration) ease;

  &:focus:not(.error){
    border-color: var(--primary-color);
  }

  &:hover:not(:focus, .error){
    border-color: var(--highlight);
  }

  &.error{
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-color: rgb(var(--error-color-rgb));
  }
}
